#canvas {
    display: grid;
    grid-template-columns: repeat(100,25px);
    grid-template-rows: repeat(100,25px);
    z-index: 0;
}

.pixel {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.color-0 {
    background-color: white;
}

.color-1 {
    background-color: black;
}

.button {
    margin: 5px;
    box-sizing: border-box;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: xx-large;
    cursor: pointer;
    padding: 25px;    
    border: 0;
    background-color: rgb(87, 17, 153);
    border-radius: 15%;
    z-index: 1;
    min-width: 100px;
    width: 10vw;
}

#toolbar {
    position: fixed;
    right: 15px;
    bottom: 15px;    
}

.button:hover {    
    border: 5px solid purple;
    padding: 20px;
    background-color: rgb(87, 17, 153);
    color: green;    
}

#overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: xx-large;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    z-index: 999;
}
